# archives
*.zip
*.tar.gz
*.tgz
*.txz
*.deb
*.rpm

# backups
*~

# logs
*.log
log/

# upload
makepush.sh
makemount.sh
makeumount.sh

# autotools
Makefile
Makefile.in
compile
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
missing
stamp-h1
.dirstamp

# objects
snapraidd
*.exe
*.o
snapraidd.service
rc.snapraidd
makeslackware.sh
makeslackdisk.sh
pkg/snapraid-daemon.SlackBuild
pkg/snapraid-daemon.info
makedeb.sh
pkg/control
makerpm.sh
pkg/snapraid-daemon.spec

# projects
*.dst
*.epr
*.geany

# specific
cov/
contrib/
paper/
kernel/
obj/
bench/
support/
archive/
www/
wiki/
beta/
ftp/
