name: Build
permissions:
  contents: read

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Validate OpenAPI definition
      run: npx -y @redocly/cli lint --config=.redocly.yaml snapraidd.yaml
    - run: autoreconf -i
    - run: ./configure
    - run: make distcheck
